---
---

@import "{{ site.theme }}";
body,html{
  font-size:13px;
}

.main-content{
  max-width:initial;
}

@mixin clearFix(){
  &:before,
  &:after{
    content: " "; 
    display: table; 
  }

  &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  &{
    *zoom: 1;
  }
}
.container{  
  // max-width:1024px;
  // margin:0px auto;
  @include clearFix();
}
.page-nav{  
  background:#333;
  @include clearFix();
  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
  li{
    float:left;
  }
  a{
    color:rgba(255,255,255,0.3);
    text-transform:uppercase;
    display:block;
    padding:10px;
    font-weight:bold;
    text-decoration:none;
    &:hover{
      color:rgba(255,255,255,1);
    }
  }
}

.post_preview{
  margin-bottom:40px;
}

.bd-sidebar,.bd-content{
  padding-top:0!important;
}
.post-title{
  background :#159957;
  color:#FFF !important;
  padding:15px 10px;
  margin:0;
}

h1,h2,h3{
  font-size:1.2em;
}

.sidebar-categories-list, .bd-sidebar ul{
  a{
    color:#159957;
    display:block;    
    text-transform:capitalize;
    padding:5px 0;
    border-bottom:1px solid #e1e1e1;
  }
}

.bd-sidebar h3{
  text-transform:capitalize;
}

.tags{
  margin-bottom:40px;
}